extends _layout.pug

include ./blocks/new.pug

block content
  section(id="banner")
    div(class="content")
      header
        h1 #{name}
        p #{tagline}

      each item in description
        p #{item}

    span(class="image object")
      img(src=`${logo}` alt=`${name}`)

  section
    header(class="major")
      h2 Последние новости
    div(class="posts")
      each item in news
        +new(item)
